<div class="mainflex">
<div class="c1">
    <!-- <span class="material-symbols-outlined">menu</span> -->
    
    <!-- <div class="search-container">
        <span class="material-symbols-outlined" style="padding-left: 5px;">search </span>
        <input type="text" placeholder="Search...">
    </div> -->
</div>
  
<div class="c2">
    <div class="c3">
        <span class="material-symbols-outlined">sms</span>
        <span class="material-symbols-outlined"> notifications</span>
        <span class="material-symbols-outlined"> contacts_product</span>
    </div>
    <div class="headerbutton">
        <!-- <button mat-raised-button (click)="onSignout()">Sign Out</button> -->
        <span  (click)="onSignout()" class="material-symbols-outlined"> logout</span>
    </div>


    </div>
    
</div>