.btn-cancel{
    background-color: rgb(235, 43, 56) ;
    color: white;
}
.btn-save{
    background-color: blue ;
    color: white;
}
.action{
    padding: 0px 25px 20px;
}
.action button{
    flex: 1;
}
.row{
    display: flex;
    justify-content: space-around;
    // gap: 20px;
    // width: 150%;
}