<app-header ></app-header>
<app-sidenavbar></app-sidenavbar>
<div class="main">
    <div class="card-container">
        <mat-card class="custom-card">
            <mat-card-content class="cc1">
                <h1>New Order</h1>
                <h4>This Week</h4><br>
                <div class="cc2">
                    <span class=" s1 material-symbols-outlined">local_mall</span>
                    <h1 class="h1">190</h1>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="custom-card">
            <mat-card-content class="cc1">
                <h1>Total Profit</h1>
                <h4>This Week</h4><br>
                <div class="cc2">
                    <span class=" s1 material-symbols-outlined"> diversity_3 </span>
                    <h1 class="h1">987</h1>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="custom-card">
            <mat-card-content class="cc1">
                <h1 class="mail">Email</h1>
                <h4>This Week</h4><br>
                <div class="cc2">
                    <span class="material-symbols-outlined"> mail </span>
                    <h1 class="h1">236</h1>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <br>
    <div class="class-container1">
        <mat-card class="custom-card1">
            <mat-card-content>
                <div style="width: 100%;">

                    <canvas id="stacked"></canvas>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card1">
            <mat-card-content class="row">
                <div class="content-wrapper" style="width: 55%; ">
                    <canvas id="doughnet"></canvas>
                </div>
                <div class="social-media" style="margin-top: 10%">
                    <label for="">Social Media</label>&nbsp;
                  
                   <div class="cc3"> <img src="./assets/instagram.png" alt="Instagram">&nbsp; <h3>60%</h3></div>
                    <div class="cc3"><img src="./assets/facebook.png" alt="Facebook">&nbsp; <h3>19%</h3></div>
                    <div class="cc3"><img src="./assets/twitter.png" alt="Twitter">&nbsp; <h3>21%</h3></div>
                    
                 
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>